<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" href="../public/css/booking.css">
</head>
<body>
    <div class="wrap">
    <p class="notice">※ 회원일 경우, 전체 결제 금액의 10% 할인된 금액으로 안내해드립니다.</p>
        <div class="booking">
            <button id="booking-check-btn" type="button" onclick="location.href='/booking/bookcheck'">♥ 예약현황 보러가기 ♥</button>
            <form id="booking-form" action="/booking/booking" method="post">
                <% if (isLogin) { %>
                    <div class="member-type">
                        <input type="radio" name="membership" value="nonmember" disabled>비회원
                        <input type="radio" name="membership" value="member" checked>회원
                    </div>
                <% } else { %>
                    <div class="member-type">
                        <input type="radio" name="membership" value="nonmember" checked>비회원
                        <input type="radio" name="membership" value="member" disabled>회원
                    </div>
                <% } %>
                <div class="form type-type">
                    <select name="type" id="type">
                        <option value="">예약종류</option>
                        <option value="type1">기본 케어</option>
                        <option value="type2">프리미엄 케어</option>
                        <option value="type3">제거 (타샵, 자샵 여부 필수 작성)</option>
                        <option value="type4">베이직 (원하는 시술 필수 작성)</option>
                        <option value="type5">이벤트 아트</option>
                    </select>
                </div>
                <div class="form date-type">
                    <label for="date">날짜를 선택하세요</label>
                    <br>
                    <input type="date" name="date" id="date" min="<%= mindate %>" required>
                </div>
                <div class="form time-type">
                    <label for="time">시간을 선택하세요</label>
                    <br>
                    <input type="time" id="time" name="time" min="09:30" max="20:00" step="1800" required>
                </div>
                <div class="form username-type">
                    <label for="username">이름</label>
                    <br>
                    <% if (isLogin) { %>
                        <input id="username" type="text" value="<%= username %>" placeholder="<%= username %>" name="<%= username %>" disabled>
                    <% } else { %>
                        <input id="username" type="text" name="username" placeholder="이름을 입력해주세요" autocomplete="off" required>
                    <% } %>
                </div>
                <div class="form tel-type">
                    <label for="tel">연락처</label>
                    <br>
                    <input type="tel" name="tel" id="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" placeholder="000-0000-0000" autocomplete="off" required>
                </div>
                <div class="form comment-type">
                    <label for="comment">요청사항</label>
                    <br>
                    <input type="textarea" name="comment" id="comment" autocomplete="off">
                </div>
                <div class="booking-btn-type">
                    <button type="submit">예약</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>