<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" href="../public/css/intro.css">
</head>
<body>
    <div class="main">
        <div class="design-item">
            <img src="../public/images/design1.jpg" width="250px" alt="">
            <img src="../public/images/design2.jpg" width="250px" alt="">
            <img src="../public/images/design3.jpg" width="250px" alt="">
        </div>
        <h4 class="title">저희 영네일은 저렴한 가격으로 최고의 네일 서비스를 제공하기 위해 항상 노력하고 있습니다.</h4>
        <br>
        <p>- 넉넉한 실내 공간으로 옆 사람과의 불편함 없이 오로지 네일 서비스에만 집중 할 수 있도록 하고 있습니다.<br>- 매일 네일 도구를 세척 및 소독하고 있어 위생 걱정 없이 안심하고 서비스를 받으실 수 있습니다.<br>- 최고의 실력을 가진 네일 아티스트들이 대기하고 있어 고객 만족도 최상입니다.</p>
        <br>
        <p class="sub">궁금하신 점이 있다면 언제든 원하시는 방법으로 상담 가능합니다.<br>- (평일) 10:00 ~ 19:00<br>- (토요일) 11:00 ~ 15:00<br><br><span>* 일요일 및 공휴일은 휴무 입니다.<br>* 카카오톡 상담은 연중무휴 24시간 가능합니다.</span></p>
    </div>
</body>
</html>