<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <div class="main">
        <img src="../public/images/main.jpeg" alt="파츠 여러개가 모여있는 이미지" width="500px">
    </div>
</body>
</html>