<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" href="../public/css/menu.css">
</head>
<body>
    <div class="wrap">
        <div class="all-price">
            <div class="item">
                <div class="text">
                    <h2>제목1</h2>
                    <br>
                    <p>설명</p>
                </div>
                <div class="image">
                    <img src="http://placekitten.com/400/600" alt="">
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="http://placekitten.com/400/600" alt="">
                </div>
                <div class="text">
                    <h2>제목2</h2>
                    <br>
                    <p>설명</p>
                </div>
            </div>
            <div class="item">
                <div class="text">
                    <h2>제목3</h2>
                    <br>
                    <p>설명</p>
                </div>
                <div class="image">
                    <img src="http://placekitten.com/400/600" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
<script>
</script>
</html>